:root {

    --azul-escuro: #170920;
    --azul-claro: #31153E;
    --cinza-azulado: #EA0E16;
    --cinza-esverdiado: #b10c12;
    --branco: #e3cdf1;

    --f1: 25.5px;
    --f2: 14px;
    --f3: 15px;
    --f4: 12px;
}